body {
    background-color: lightgoldenrodyellow;
    }
h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p{
    font-size:medium; color:lime

}
h6{
    font-size: small; color: lightgoldenrodyellow

}